<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Trading Center</title>

	<!-- Bootstrap core CSS -->
	<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/custom.css" rel="stylesheet">
	<link rel="shortcut icon" href="../static/img/favicon.ico">

</head>

<body style="background-image: url('../static/img/jhoncoin.jpg') ; background-size: cover;">

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">Energy Trading Center</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Trading Homepage
							<span class="sr-only">(current)</span>
						</a>
					</li>
					{% if session.logged_in %}
					<li class="nav-item">
						<a class="nav-link" href="/logout">logout</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="/login">login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/signup">Sign Up</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">

		{% block body %}
		<h1 class="font-italic text-warning">Welcome <small
				class="font-weight-bold text-success">{{session.username}}</small></h1>
		{% endblock %}

		<div class="card-text text-info">
			Select user to buy Energy from
		</div>

		<br>

		<!-- TODO: ADD LINKS TO BUY DIRECTLY FROM USERS -->
		<table class="table table-bordered table-striped text-light">
			<tr>
				<th>Username</th>
				<th>Surplus Energy</th>
			</tr>
			{% for user in sellers %}
			<a>
				<tr>
					<td>{{user.name}}</td>
					<td>{{user.surplus_energy}}</td>
				</tr>
			</a>
			{% endfor %}
		</table>
		{% include "./includes/_messages.html" %}

	</div>


</body>

</html>