<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Blockchain Client</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/custom.css" rel="stylesheet">
  <link rel="shortcut icon" href="../static/img/favicon.ico">

</head>

<body style="background-image: url('../static/img/jhoncoin.jpg') ; background-size: cover;">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Blockchain Client</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/generate/wallet">Wallet Generator
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/make/transaction">Make Transaction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/view/transactions">View Transactions</a>
          </li>
          {% if session.logged_in %}
          <li class="nav-item">
            <a class="nav-link" href="/logout">logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>



  <div class="container">
    {% block body %}
    <h1 class="font-italic text-warning">Welcome <small
        class="font-weight-bold text-success">{{session.username}}</small></h1>
    {% endblock %}
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="card-body">
          <h4 class="card-title text-light">Wallet Generator</h4>
          <p class="card-text text-muted">Click on the button at the end of this page to generate your blockchain wallet
          </p>
        </div>
      </div>
    </div>
    {% include "./includes/_messages.html" %}

    <br>

    <div class="container">
      <form id="wallet_form">
        <div class="row">
          <label class="col-sm-2 text-light">Username:</label>
          <div class="col-sm-10">
            <input type="text" id="username" name="username" rows="2" class="form-control" readonly
              value="{{session.username}}">
          </div>
        </div>

        <br>

        <div class="row">
          <label class="col-sm-2 text-light">Surplus Energy:</label>
          <div class="col-sm-10">
            <input type="text" id="surplus_energy" name="surplus_energy" rows="2" class="form-control" required>
          </div>
        </div>

        <br>

        <div class="row" id="error" style="display:none">
          <div class="col-sm-12">
            <div class="alert alert-danger" role="alert">
              ERROR : Wallet already exists!! can't create another wallet
            </div>
          </div>
        </div>

        <br>

        <div class="row">
          <label class="col-sm-2  text-light">Public Key:</label>
          <div class="col-sm-10">
            <textarea id="public_key" rows="5" class="form-control" readonly></textarea>
          </div>
        </div>

        <br>

        <div class="row">
          <label class="col-sm-2 text-light">Private Key:</label>
          <div class="col-sm-10">
            <textarea id="private_key" rows="5" class="form-control" readonly></textarea>
          </div>
        </div>

        <br>

        <div class="row" style="display:none" id="wallet_value">
          <label class="col-sm-2 text-light">Wallet Initial balance:</label>
          <div class="col-sm-10">
            <textarea id="wallet_value_text" rows="1" class="form-control" readonly></textarea>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="card-body">
              <input type="button" id="generate_wallet" class="btn btn-primary btn-lg" value="Generate Wallet">
            </div>
          </div>
        </div>

        <br>

        <div class="row" id="warning" style="display:none">
          <div class="col-sm-12">
            <div class="alert alert-danger" role="alert">
              IMPORTANT
              <ul>
                <li>Save you private and public keys. These keys cannot be recovered!</li>
                <li>Don't share your private key with anyone!</li>
              </ul>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>





  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


  <script>

    $(function () {
      $('#generate_wallet').click(function () {

        $.ajax({
          url: '/wallet/new',
          type: 'POST',
          dataType: 'json',
          data: $('#wallet_form').serialize(),

          success: function (response) {
            document.getElementById("private_key").innerHTML = response['private_key'];
            document.getElementById("public_key").innerHTML = response['public_key'];
            document.getElementById("wallet_value").style = "display:-webkit-box ; display:-ms-flexbox ; display:flex";
            document.getElementById("wallet_value_text").innerHTML = response['wallet_value'];
            document.getElementById("error").style.display = "none";
            document.getElementById("warning").style.display = "block";
          },

          error: function (error) {
            document.getElementById("error").style.display = "block";
          }
        });
      });
    })


  </script>



</body>

</html>