<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Sign Up</title>

	<!-- Bootstrap core CSS -->
	<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/custom.css" rel="stylesheet">
	<link rel="shortcut icon" href="../static/img/favicon.ico">

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">Sign Up</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Trading Homepage
							<span class="sr-only">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/login">log In</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/signup">Sign Up</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		{% from "_formhelpers.html" import render_field %}
		<form method="POST" action="">
			<div class="form-group">
				{{render_field(form.name, class_="form-control")}}
			</div>
			<div class="form-group">
				{{render_field(form.email, class_="form-control")}}
				<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
					else.</small>
			</div>
			<div class="form-group">
				{{render_field(form.surplus_energy, class_="form-control")}}
				<small id="energyHelp" class="form-text text-muted">Must be an Integer value for power Units.</small>
			</div>
			<div class="form-group">
				{{render_field(form.password, class_="form-control")}}
				<small id="passwordHelp" class="form-text text-muted">
					Your password must be 8-20 characters long, contain letters and numbers, and must not contain
					spaces,
					special characters, or emoji.
				</small>
			</div>
			<div class="form-group">
				{{render_field(form.confirm, class_="form-control")}}
			</div>
			<p><input type="submit" class="btn btn-primary" value="Submit"></p>
		</form>
	</div>

</body>

</html>