<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Trading Center</title>

	<!-- Bootstrap core CSS -->
	<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/custom.css" rel="stylesheet">
	<link rel="shortcut icon" href="../static/img/favicon.ico">

</head>

<body style="background-image: url('../static/img/jhoncoin.jpg') ; background-size: cover;">

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">Energy Trading Center</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/">Trading Homepage
							<span class="sr-only">(current)</span>
						</a>
					</li>
					{% if session.logged_in %}
					<li class="nav-item">
						<a class="nav-link" href="/logout">logout</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="/login">login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/signup">Sign Up</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		{% include "./includes/_messages.html" %}

		{% block body %}
		<h1 class="font-italic text-warning">Welcome <small
				class="font-weight-bold text-success">{{session.username}}</small></h1>
		{% endblock %}


		<br><br>
		<form class="container" method="POST">
			<div class="row">
				<label class="col-sm-2 text-light">Username:</label>
				<div class="col-sm-10">
					<input type="text" id="username" name="username" rows="2" class="form-control" readonly
						value="{{session.username}}">
				</div>
			</div>

			<br>
			
			<div class="row">
				<label class="col-sm-2 text-light">Enter The Updated Surplus Energy Amount:</label>
				<div class="col-sm-10">
					<input rows="2" id="updated_energy" name="updated_energy" rows="2" class="form-control" required>
					<small class="form-text text-muted">Enter the energy you want to add to your existing energy
						value</small>
				</div>
			</div>
			<br>

			<input type="submit" class="btn btn-primary" value="Submit">

		</form>
	</div>


</body>

</html>